/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #081C15;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #D4AF37,
    #c49c22
  );

  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6be4d;
}

/* FIREFOX */

html {
  scrollbar-color: #D4AF37 #081C15;
  scrollbar-width: thin;
}